.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 1);
}
.navlinks{
    display: flex;
}
.navlinks li{
    padding-right: 40px;
    color: #ffff;
}
