.App{
    font-family: 'Poppins', sans-serif;
}
.linear-btn{
    background: linear-gradient(45deg, rgba(230, 195, 10, 1), rgba(21, 21, 21, 1));
    border: none;
    border-radius: 8px;
    color: #ffff;
}