.App {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.linear-btn {
  background: linear-gradient(
    45deg,
    rgba(230, 195, 10, 1),
    rgba(21, 21, 21, 1)
  );
  border: none;
  border-radius: 8px;
  color: #ffff;
}
.color-y {
  color: #e6c30a;
}
.color-by {
  background-color: #e6c30a;
}

/* login and signup style */
.auth-container {
  background-color: #c4c4c4;
  padding: 150px 100px;
  gap: 50px;
}
.auth-img {
  border-radius: 32px;
  background: #e6c30a;
  flex-direction: column;
}
.auth-img p {
  max-width: 400px;
}
.auth-img h5 {
  font-family: "Russo One", sans-serif;
}
.auth-form-container {
  border-radius: 32px;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
}
.btn-auth-container,
.fgpass, .orline-container, .auth-form {
  width: 400px;
}
.btn-auth {
  border-radius: 12px;
  border: 1px solid #000;
  gap: 10px;
  background-color: #ffff;
  justify-content: center;
  align-items: center;
}
.btn-auth img {
  width: 24px;
  height: 24px;
}
.or-line{
    flex: 1;
    height: 1px;
    background-color: #000;
}
.auth-form{
    display: flex;
    flex-direction: column;
}
.auth-form input{
    border-radius: 12px;
    padding: 14px;
    outline: none;
    border: 1px solid #000;
    background: rgba(230, 195, 10, 0.09)
}
.btn-auth:hover{
    background-color: #e6c30a;
    color: #ffff;
    transition: all 1s;
    border-color: #e6c30a;
}